openapi: 3.1.0
info:
  title: Dice Chess Bot API
  version: '1.0'
  description: >
    REST contract for connecting a bot to the Dice Chess play platform. This is the
    machine-readable companion to the guides at https://bots.fortemate.com/ (legacy: https://bots.jc.id.lv/) —
    use it to generate a client (`openapi-generator`, `openapi-typescript`, etc.). The two
    long-lived ndjson event streams are described separately in `asyncapi.yaml`.
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://api.fortemate.com
    description: Canonical production platform
  - url: https://play-api.jc.id.lv
    description: Legacy production platform (deprecated during migration)
security:
  - bearerAuth: []
tags:
  - name: Identity
    description: Tokens and bot identity — anonymous mint, durable registration, rotation, ladder opt-in.
  - name: Challenges
    description: Direct bot-to-bot challenges.
  - name: Seeks
    description: Public lobby offers — how bots meet humans.
  - name: Gameplay
    description: Seeding the dice, submitting turns, resigning.
  - name: Discovery
    description: Public, unauthenticated reads — live games, legal moves, a single game snapshot.
  - name: Leaderboard
    description: Public rating-ladder reads. Present only when the server runs with persistence.
  - name: Strength
    description: >
      Public, precise pairwise SPRT verdicts and a Bradley-Terry pool ranking — the error-rate-bounded
      complement to the Glicko-2 leaderboard. Present only when the server runs with persistence, and
      answers 503 until the rating batch has completed its first refresh.
  - name: Webhooks
    description: Register an HTTPS callback the server POSTs turns to. Registered bots only; enabled per server.
  - name: Webhook management
    description: >
      Feature-gated owner/admin control plane for staged webhook setup, activation, CAS updates,
      deletion, and bot-history telemetry. Uses the access_token account session, not a bot token.
      While the gate is closed these routes are NOT MOUNTED: every path below then answers a plain
      404 with no application/problem+json body, which is also what an unknown path answers. Probe
      with a read before branching on any other status. The 503 documented on the mutating
      operations is a different condition — the server is running this API but has no outbound
      verification transport — and it never stands in for the feature gate.
      Public design summary: https://github.com/fortemate/dicechess-play-api/issues/10.
  - name: Admin
    description: Break-glass operator controls and complete inventory. Gated by user session in PLAY_ADMINS.
  - name: Showcase
    description: >
      The homepage's singleton showcase table (ADR-005): one public read and one atomic first-claim
      against the configured featured bot at casual 5+3. Mounted only when SHOWCASE_ENABLED=true;
      while it is off both paths answer a plain 404. The public read never carries a credential;
      the claim's winning response is the only place a seat token ever appears, and it is no-store.
paths:
  /bot/anon:
    post:
      tags: [Identity]
      summary: Mint an anonymous token
      description: >
        Mints an ephemeral, unranked token with zero registration. Anonymous tokens live in
        server memory (~24h TTL) and never appear on the ladder. One of the two routes that need
        no Authorization header (the other is POST /bot/register).
      security: []
      parameters:
        - name: name
          in: query
          required: false
          schema: { type: string }
          description: Optional display name for the anonymous bot.
      responses:
        '201':
          description: Token minted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /bot/register:
    post:
      tags: [Identity]
      summary: Register a durable bot
      description: >
        Claims a durable self-service identity that survives server restarts and can join the
        ladder, rotate its token, and register a webhook. The token is shown exactly once.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: Identity claimed. Store the token now — it is shown only once.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '400':
          description: Invalid slug, or a reserved team (`anon`, `house`).
        '409':
          description: The identity (team/name) is already taken.
        '429': { $ref: '#/components/responses/RateLimited' }
  /bot/token:
    post:
      tags: [Identity]
      summary: Rotate the token
      description: >
        Swaps the caller's Bearer token; the old one stops authenticating immediately, the new
        one is shown once. Registered bots only.
      responses:
        '200':
          description: Fresh token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                required: [token]
        '403':
          description: Caller is anonymous (re-mint instead) or static (rotates via server env).
  /bot/account:
    get:
      tags: [Identity]
      summary: Current identity
      responses:
        '200':
          description: The caller's identity.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Account' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /bot/ladder/join:
    post:
      tags: [Identity]
      summary: Join the rating ladder
      description: >
        Opts a registered bot into the server-paired rating ladder. Passive: the server starts
        server-chosen games on its own. Registered bots only.
      responses:
        '200':
          description: Ladder membership state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LadderState' }
        '403': { $ref: '#/components/responses/RegisteredOnly' }
  /bot/ladder/leave:
    post:
      tags: [Identity]
      summary: Leave the rating ladder
      description: Freezes the bot's rating and stops new ladder pairings. Registered bots only.
      responses:
        '200':
          description: Ladder membership state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LadderState' }
        '403': { $ref: '#/components/responses/RegisteredOnly' }
  /bot/open-to-humans:
    post:
      tags: [Identity]
      summary: Open to human catalog games
      description: >
        Advertises a registered bot in the human-facing catalog and, in the same write, sets its
        optional description. A zero-length or field-absent body clears the description. Registered
        bots only.
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetOpenToHumans' }
      responses:
        '200':
          description: Catalog opt-in state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OpenToHumansState' }
        '400':
          description: Description longer than 200 characters, or a malformed body.
        '403': { $ref: '#/components/responses/RegisteredOnly' }
  /bot/open-to-humans/leave:
    post:
      tags: [Identity]
      summary: Close to human catalog games
      description: Removes the bot from the human catalog, leaving its description intact. Registered bots only.
      responses:
        '200':
          description: Catalog opt-in state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OpenToHumansState' }
        '403': { $ref: '#/components/responses/RegisteredOnly' }
  /bot/capacity:
    get:
      tags: [Identity]
      summary: Read the declared concurrent-game capacity
      description: >
        How many games the server may seat this bot in at once, how much of that the rating ladder
        may take, and how many games are in flight right now. Registered bots only — anonymous and
        server-configured house bots have no declaration and are unbounded.
      responses:
        '200':
          description: Declared capacity and current usage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Capacity' }
        '403': { $ref: '#/components/responses/RegisteredOnly' }
    post:
      tags: [Identity]
      summary: Declare the concurrent-game capacity
      description: >
        Sets how many games this bot is willing to hold at once; a registered bot starts at 1.
        Enforced when a game is seated, never by delaying a turn inside a running game. At the
        limit the ladder skips the bot until a game ends, and the human/challenge/seek paths
        answer 409 without consuming the offer.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetCapacity' }
      responses:
        '200':
          description: Declared capacity and current usage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Capacity' }
        '400':
          description: maxConcurrentGames outside 1..32, or a malformed body.
        '403': { $ref: '#/components/responses/RegisteredOnly' }
  /bot/challenge:
    post:
      tags: [Challenges]
      summary: Create a challenge
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateChallengeRequest' }
      responses:
        '201':
          description: Challenge created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Challenge' }
        '400':
          description: Challenging yourself.
        '429':
          description: Too many pending challenges.
  /bot/challenges:
    get:
      tags: [Challenges]
      summary: List pending challenges
      description: Every pending challenge involving the caller — `in` addressed to you, `out` yours.
      responses:
        '200':
          description: Pending challenges.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChallengeList' }
  /bot/challenge/{id}/accept:
    post:
      tags: [Challenges]
      summary: Accept a challenge
      parameters: [{ $ref: '#/components/parameters/ChallengeId' }]
      responses:
        '201':
          description: Game created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GameCreated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: A side is at its concurrent-game limit. The challenge stays pending — retry after a game ends. }
  /bot/challenge/{id}/decline:
    post:
      tags: [Challenges]
      summary: Decline a challenge
      parameters: [{ $ref: '#/components/parameters/ChallengeId' }]
      responses:
        '200': { description: Declined. }
        '404': { $ref: '#/components/responses/NotFound' }
  /bot/seeks:
    post:
      tags: [Seeks]
      summary: Post a lobby seek
      description: A standing public offer in the same lobby guests use. Anyone may accept it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timeControl:
                  allOf: [{ $ref: '#/components/schemas/TimeControl' }]
                  description: >-
                    Optional. Omitted, the seek gets Fischer 600+10 — a human may sit down at this offer, and a
                    clockless public game has nothing to end it but the 120-second anti-abandonment cap. Ask for
                    Unlimited explicitly if you want no game clock.
                rated:
                  type: boolean
                  default: false
                  description: >-
                    Optional, defaults to false. Rated is chosen by the seek's creator for any registered opponent —
                    there is no curated roster. Posting the seek anonymously (a guest, or a bot registered under the
                    shared anonymous team) silently degrades `rated` to false. Once posted, a rated seek can only be
                    accepted by a signed-in account or a registered bot — an anonymous acceptor gets 403 and the
                    seek stays open for someone else.
      responses:
        '201':
          description: Seek posted. Hold it by polling; it expires after ~2 minutes without a poll.
          content:
            application/json:
              schema:
                type: object
                properties:
                  seekId: { type: string }
                  secret: { type: string, description: Capability secret for poll/cancel. }
                required: [seekId, secret]
        '429':
          description: Too many open seeks (cap 3).
  /bot/seeks/{id}/accept:
    post:
      tags: [Seeks]
      summary: Accept a lobby seek
      description: Accept an open seek from the public `GET /lobby/seeks` list. Colour is random.
      parameters: [{ $ref: '#/components/parameters/SeekId' }]
      responses:
        '201':
          description: Game created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GameCreated' }
        '400': { description: Accepting your own seek. }
        '403': { description: The seek is rated and this bot is anonymous (registered under the shared anonymous team) — a rated seek needs a registered opponent; the seek stays open. }
        '404': { description: No such open seek. }
        '409': { description: Someone claimed it first, or a side is at its concurrent-game limit (the seek stays open). }
  /bot/game/{id}/seed:
    post:
      tags: [Gameplay]
      summary: Submit a dice seed
      description: >
        Contribute this seat's post-commit entropy for the provably-fair dice. Submit once, as
        soon as the game starts and before the opening roll. Fire-and-forget.
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seed: { type: string, minLength: 16, maxLength: 256 }
              required: [seed]
      responses:
        '202': { description: Accepted (a duplicate, too-late, or malformed seed is ignored). }
  /bot/game/{id}/move:
    post:
      tags: [Gameplay]
      summary: Submit turn moves
      description: >
        Submit the turn's micro-moves in UCI, one per rolled die. The verdict is synchronous.
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MoveRequest' }
      responses:
        '200':
          description: The turn was applied.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MoveVerdict' }
        '202':
          description: No verdict within a few seconds — treat as fire-and-forget and watch the stream.
        '409':
          description: Refused (`not your turn`, `illegal turn`, `game is over`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MoveVerdict' }
  /bot/game/{id}/draw/accept:
    post:
      tags: [Gameplay]
      summary: Accept a pending draw offer
      description: >
        Accept a pending draw offer when it is your turn and an offer is pending.
        Ends the game in a draw by agreement. Alias: `/bot/game/{id}/draw/yes`.
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '200':
          description: The draw offer was accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MoveVerdict' }
        '202': { description: Accepted — processing lagged; observe the stream. }
        '409':
          description: Refused (`not your turn`, `no draw offer pending`, `game is over`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MoveVerdict' }
  /bot/game/{id}/draw/decline:
    post:
      tags: [Gameplay]
      summary: Explicitly decline a pending draw offer
      description: >
        Explicitly decline a pending draw offer and reveal your dice to enter the move phase.
        Alias: `/bot/game/{id}/draw/no`.
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '200':
          description: The draw offer was declined.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MoveVerdict' }
        '202': { description: Accepted — processing lagged; observe the stream. }
        '409':
          description: Refused (`not your turn`, `no draw offer pending`, `game is over`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MoveVerdict' }
  /bot/game/{id}/resign:
    post:
      tags: [Gameplay]
      summary: Resign a game
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '202': { description: Accepted. }
  /bot/games:
    get:
      tags: [Gameplay]
      summary: List my live games
      description: >
        Every live game the caller is seated in — the polling counterpart of `GameStart` and the
        post-restart recovery path.
      responses:
        '200':
          description: Live games.
          content:
            application/json:
              schema:
                type: object
                properties:
                  games:
                    type: array
                    items: { $ref: '#/components/schemas/MyGame' }
                required: [games]
  /games:
    get:
      tags: [Discovery]
      summary: List live games (public)
      description: Every live game on the node, with both seats' public faces. Sorted by version desc, capped at 50.
      security: []
      responses:
        '200':
          description: Live games with a total count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  games:
                    type: array
                    items: { $ref: '#/components/schemas/PublicGame' }
                  total: { type: integer }
                required: [games, total]
  /games/{id}:
    get:
      tags: [Discovery]
      summary: Get a game snapshot (public)
      description: >
        The polling read of a single game — the same state object the game stream sends on
        connect. The dice reveal appears here the instant the game ends, exactly as on the live
        stream.
      security: []
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '200':
          description: The current public game state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicGameState' }
        '404': { $ref: '#/components/responses/NotFound' }
  /games/{id}/moves:
    get:
      tags: [Discovery]
      summary: Get legal moves (public)
      description: The full legal-move tree for the pending roll, never capped.
      security: []
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '200':
          description: The legal-move tree tied to the current roll.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LegalMovesResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
  /games/{id}/history:
    get:
      tags: [Discovery]
      summary: Get game history (public replay)
      description: >
        The full replay of a FINISHED game — every turn's dice and moves, plus the dice-fairness reveal —
        independent of whether the live room has been evicted from memory. `fairness.commit` is always
        present, and `seed`/`clientSeeds` are populated immediately: every game recorded here has
        already finished, so nothing is ever withheld. The response is cached as immutable forever,
        since a finished game's history can never change again.
      security: []
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '200':
          description: The finished game's full history.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GameHistory' }
        '404':
          description: Unknown game id, or a finished game with no archive row (pre-archive history, never backfilled).
  /games/{id}/rating:
    get:
      tags: [Discovery]
      summary: Get a finished game's rating change (public)
      description: >
        What one finished game did to each seat's rating, on the public Glicko-2 scale. Rating is applied by a
        background batch, so a freshly finished game answers `applied: false` for up to `RATING_INTERVAL_SECONDS` —
        poll `applied`, never a diff of the player's current rating against an earlier one, which folds in every
        other game applied in between. Once `applied` is true the answer is final, including the case where both
        seats are absent: a game that moved nobody's rating (casual, a guest seat, an unregistered bot, self-play,
        a deleted account). Ratings are unrounded, matching every other rating on this API. Anonymous: the response
        names seats, never who sat in them.
      security: []
      parameters: [{ $ref: '#/components/parameters/GameId' }]
      responses:
        '200':
          description: The game's recorded rating movement, or a pending answer while the batch has not reached it.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GameRatingChange' }
        '404':
          description: >
            Unknown game id, a game that has not finished, or a server without persistence (nothing records ratings).
  /leaderboard:
    get:
      tags: [Leaderboard]
      summary: Rating leaderboard (public)
      description: Registered bots whose rating has converged (RD ≤ 110), ordered by the conservative estimate rating − 2·rd (ties to the lower rd), not the raw rating. Provisional bots are hidden.
      security: []
      responses:
        '200':
          description: Ranked leaders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  leaders:
                    type: array
                    items: { $ref: '#/components/schemas/LeaderRow' }
                required: [leaders]
        '404': { description: Server runs without persistence. }
  /bots/{team}/{name}:
    get:
      tags: [Leaderboard]
      summary: Bot profile (public)
      description: >
        One registered bot's public card — rating summary, its aggregate record against every opponent
        it has played (head-to-head vs other bots, and vs humans), plus up to 20 recent games.
      security: []
      parameters:
        - { name: team, in: path, required: true, schema: { type: string } }
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The bot's public profile.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BotProfile' }
        '404': { description: No registered bot with that team/name. }
  /strength:
    get:
      tags: [Strength]
      summary: Strength report (public)
      description: >
        The whole cached report: every pairwise SPRT verdict, plus the Bradley-Terry pool ranking.
        Refreshed on the rating batch's own cadence, not per request — see
        [Rating & Ladder](https://bots.fortemate.com/rating/) for why this exists alongside Glicko.
      security: []
      responses:
        '200':
          description: The current strength report.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StrengthReportResponse' }
        '404': { description: Server runs without persistence. }
        '503': { description: No report has been computed yet (fresh boot, or rating updates disabled). }
  /bots/{team}/{name}/strength:
    get:
      tags: [Strength]
      summary: Bot strength profile (public)
      description: Just the matchups involving one registered bot — the profile-page-sized slice of `GET /strength`.
      security: []
      parameters:
        - { name: team, in: path, required: true, schema: { type: string } }
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: This bot's strength matchups.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BotStrengthProfile' }
        '404': { description: No registered bot with that team/name. }
        '503': { description: No report has been computed yet (fresh boot, or rating updates disabled). }
  /lobby/bots:
    get:
      tags: [Leaderboard]
      summary: Bot catalog (public)
      description: >
        Bots open to human play (via POST /bot/open-to-humans), each with its rating summary and
        optional description. A provisional bot (RD > 110) is listed and flagged, not hidden.
        available reflects the bot's declared concurrent-game limit as of this fetch — advisory,
        since the catalog is fetched once per visit rather than polled.
      security: []
      responses:
        '200':
          description: The human-play catalog.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BotCatalog' }
        '404': { description: Server runs without persistence. }
  /lobby/bots/{team}/{name}/wake:
    post:
      tags: [Leaderboard]
      summary: Wake a catalog bot (public)
      description: >
        Pings the bot's registered webhook to force a cold start and confirm it answers, before a
        visitor commits to a game. If the bot is already at its declared concurrent-game limit, it
        is NOT probed at all — the response is busy: true, alive: false. 200 always for a catalog
        bot (alive covers "no webhook" and "didn't answer" alike); 404 for a name outside the
        catalog; 503 if webhooks are disabled.
      security: []
      parameters:
        - { name: team, in: path, required: true, schema: { type: string } }
        - { name: name, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The liveness outcome.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wake' }
        '404': { description: No such name in the catalog. }
        '429': { description: Rate limit exceeded. }
        '503': { description: Webhooks are not enabled on this server. }
  /lobby/play-bot:
    post:
      tags: [Leaderboard]
      summary: Start a guest-vs-bot game from the catalog (public)
      description: >
        Starts a game between a guest and a catalog bot. timeControl is mandatory (no unlimited
        catalog games); preferredColor is optional (omitted = random seat). No fresh liveness
        check runs here — wake already confirmed the bot; a bot gone quiet since is handled the
        same as any registered-webhook bot going quiet mid-game: the clock forfeits it.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlayBotRequest' }
      responses:
        '201':
          description: The guest's seat in the new game.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlayBotMatch' }
        '400': { description: Bad body, invalid guestId, or an unlimited time control. }
        '404': { description: No such name in the catalog. }
        '409': { description: The guest already has an unfinished catalog game, or the bot is at its concurrent-game limit. }
        '429': { description: Rate limit exceeded. }
  /showcase:
    get:
      tags: [Showcase]
      summary: The showcase table (public)
      description: >
        The singleton table's public state: unavailable, open, live or finishing. When open it names
        the featured bot, the fixed 5+3 clock and the colour the next human will play; when live or
        finishing it names the one current game for spectating. Uncacheable (no-store, no-cache,
        must-revalidate) with a weak ETag so a poller holding the same state gets 304. Never contains a
        seat token, a webhook detail, a private identity, or infrastructure state; the unavailable
        reason is one of a few coarse words.
      security: []
      responses:
        '200':
          description: The table.
          headers:
            ETag:
              description: Weak tag over the rendered state; send it back in If-None-Match.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ShowcaseView' }
        '304': { description: The state has not changed since the If-None-Match tag. }
        '404': { description: The showcase is not enabled on this server. }
  /showcase/claim:
    post:
      tags: [Showcase]
      summary: Claim the open table (public)
      description: >
        The atomic first claim. The caller is the session account (cookie; then X-DiceChess-CSRF: 1
        and an Origin on the server's PLAY_CORS_ORIGINS allow-list are both required — a server
        without an allow-list refuses the session path, so claim as a guest there) or a stable guest
        id in the body. The body is capped at 4096 bytes. Idempotency-Key (a UUID) is mandatory and is
        scoped to the calling actor (the session account or the guest id). Exactly one concurrent claimant
        wins and receives the human seat's token; every other caller, concurrent or later, receives the
        spectator outcome and no credential. A same-key retry from the same actor replays its committed outcome
        for 24 hours — the winner is handed the same token while its game is on, and nobody is handed one after
        the game — without creating another room or moving the colour; the same actor reusing its key with a
        different body is refused with 409 idempotency_conflict. The same key arriving from a different actor is
        not a conflict and is evaluated fresh as that actor's own claim attempt. The human colour alternates
        White/Black across committed games. Rate-limited per IP and per actor. Errors are RFC 7807 problem details.
      security: []
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
        - name: X-DiceChess-CSRF
          in: header
          required: false
          schema: { type: string, enum: ['1'] }
          description: Required whenever the request carries the access_token session cookie.
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ShowcaseClaimRequest' }
      responses:
        '200':
          description: >
            Either the winning claim (outcome claimed, with the seat token — sent Cache-Control:
            no-store, private) or the spectator outcome (outcome spectating, no credential).
          headers:
            Cache-Control: { $ref: '#/components/headers/NoStore' }
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ShowcaseClaimed' }
                  - { $ref: '#/components/schemas/ShowcaseSpectating' }
                discriminator:
                  propertyName: outcome
                  mapping:
                    claimed: '#/components/schemas/ShowcaseClaimed'
                    spectating: '#/components/schemas/ShowcaseSpectating'
        '400':
          description: >
            missing_idempotency_key, invalid_idempotency_key, guest_required, invalid_guest_id, or
            malformed_request.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
        '403':
          description: >
            csrf_origin_rejected — a session claim without the CSRF header, without an Origin on the
            allow-list, or on a server that has no allow-list configured.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
        '404': { description: The showcase is not enabled on this server. }
        '409':
          description: >
            idempotency_conflict — the calling actor already used this Idempotency-Key for a different request body.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
        '413':
          description: request_too_large — the body exceeds 4096 bytes.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
        '415':
          description: malformed_request — a body was sent with a Content-Type other than application/json.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
        '429':
          description: rate_limited — per-IP or per-actor claim budget spent; check Retry-After.
          headers:
            Retry-After: { $ref: '#/components/headers/RetryAfter' }
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
        '503':
          description: showcase_unavailable — the table is unavailable (no persistence, bot not ready, or fail-closed state).
          headers:
            Retry-After: { $ref: '#/components/headers/RetryAfter' }
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ShowcaseProblem' }
  /bot/webhook:
    post:
      tags: [Webhooks]
      summary: Register a webhook
      description: >
        Register an HTTPS callback the server POSTs turns to. The URL must be HTTPS, carry a host
        and no userinfo or fragment, use a valid port, and every freshly resolved address must be
        globally routable — for IPv6 that means global unicast (2000::/3) outside the IANA
        special-purpose blocks, so Teredo (2001::/23) and 6to4 (2002::/16) are refused. The same
        policy is re-applied at send time on every delivery, so a registration that stops
        satisfying it stops being delivered to. The server runs an ownership handshake before
        storing the URL. Registered bots only; enabled per server. Capability names are exact and
        case-sensitive: duplicate selectable values are accepted and collapsed into canonical
        registry order, while unknown values and recognized-but-reserved values return 422 with
        distinct plain-text reasons.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterWebhookRequest' }
      responses:
        '201':
          description: Registered. The signing secret is shown exactly once.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookCreated' }
        '403': { $ref: '#/components/responses/RegisteredOnly' }
        '422':
          description: >
            URL-policy violation, failed handshake, unknown/non-canonical capability
            (unknown webhook capability), or recognized but currently unavailable capability
            (webhook capability is not available). The plain-text body identifies the reason.
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { description: Webhooks disabled on this server. }
    get:
      tags: [Webhooks]
      summary: Inspect the webhook
      responses:
        '200':
          description: The registered webhook (the secret is never shown again).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookInfo' }
        '404': { description: No webhook registered. }
        '503': { description: Webhooks disabled on this server. }
    delete:
      tags: [Webhooks]
      summary: Remove the webhook
      description: Deliveries stop at the next turn; the games themselves keep running.
      responses:
        '204': { description: Removed. }
        '404': { description: No webhook was registered. }
        '503': { description: Webhooks disabled on this server. }
  /bot/webhook/capabilities:
    get:
      tags: [Webhooks]
      summary: Discover webhook capabilities
      description: >
        Public contract metadata in stable registry order. available means the capability may be
        selected in a registration now; reserved fixes a canonical name without enabling storage
        or behavior. This endpoint remains available when webhook delivery is disabled server-wide.
      security: []
      responses:
        '200':
          description: The complete known capability registry and current selection status.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookCapabilityCatalog' }
  /bot/webhook/stats:
    get:
      tags: [Webhooks]
      summary: Delivery telemetry
      description: >
        Two windows (24h, 7d) of turn-delivery outcomes and latency percentiles, plus the most
        recent genuine failure. Recorded off the turn path — never adds latency to a delivery, and
        a stats-write failure never affects the game. NOT gated on webhooks being enabled: this
        reads history, which can outlive the feature being toggled off. Registered bots only, and
        needs persistence server-wide (404 without it, same as the leaderboard/catalog).
      responses:
        '200':
          description: Aggregated delivery telemetry.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookDeliveryStats' }
        '403': { $ref: '#/components/responses/RegisteredOnly' }
        '404': { description: Server runs without persistence. }
  /me/bots/{team}/{name}/webhook:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    get:
      tags: [Webhook management]
      summary: Read an owned bot's webhook slot
      description: >
        Returns the authoritative redacted slot, including explicit null registration/pendingSetup
        fields and a strong ETag. Requires the live account session to own this registered bot.
        This staged API is feature-gated and disabled by default; its presence is not implied by
        this contract or by the legacy Bot API being available. A closed gate leaves the route
        unmounted, so it answers 404 without a problem body — see the tag description.
      security:
        - cookieAuth: []
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
    delete:
      tags: [Webhook management]
      summary: Delete an owned bot's active and pending webhook state
      description: >
        Destroys active/candidate credentials and stops future deliveries while retaining audit
        and bot-history telemetry. An already empty slot is a true no-op with the same ETag.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeleteManagedWebhook' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /me/bots/{team}/{name}/webhook/setups:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    post:
      tags: [Webhook management]
      summary: Create an owned bot's pending webhook setup
      description: >
        Creates the sole 15-minute candidate. The response is the only place its freshly minted
        signing secret appears; store it before activation. Request variants and their fields are
        exact. Create requires no active registration; replaceUrl/rotateSecret require one. A
        supplied URL must be HTTPS with a host and no userinfo or fragment, and every freshly
        resolved address must pass the public-address policy; policy failures return 422.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManagedWebhookSetupRequest' }
      responses:
        '201': { $ref: '#/components/responses/ManagedWebhookSetupCreated' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '409': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '422': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '429': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '503': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /me/bots/{team}/{name}/webhook/setups/{setupId}/activate:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
      - { $ref: '#/components/parameters/WebhookSetupId' }
    post:
      tags: [Webhook management]
      summary: Verify and activate an owned bot's pending setup
      description: >
        Runs verification-v2 against the candidate after the client confirms it stored the
        one-time secret. The old registration remains active until the new generation commits.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActivateManagedWebhook' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '409': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '410': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '422': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '429': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '503': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /me/bots/{team}/{name}/webhook/setups/{setupId}:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
      - { $ref: '#/components/parameters/WebhookSetupId' }
    delete:
      tags: [Webhook management]
      summary: Cancel an owned bot's pending setup
      description: Cancels and scrubs the candidate without disturbing an active registration.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '410': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /me/bots/{team}/{name}/webhook/capabilities:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    patch:
      tags: [Webhook management]
      summary: Replace an owned bot's webhook capabilities
      description: >
        Replaces the selectable capability set while preserving URL, secret, verifiedAt,
        registrationId, and generation-scoped health.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateManagedWebhookCapabilities' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '409': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '422': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /me/bots/{team}/{name}/webhook/stats:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    get:
      tags: [Webhook management]
      summary: Read an owned bot's bot-history webhook telemetry
      description: >
        Returns bot_history scoped windows that survive registration replacement/deletion, plus
        the current registrationId when one exists.
      security:
        - cookieAuth: []
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookStats' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots/{team}/{name}/webhook:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    get:
      tags: [Webhook management, Admin]
      summary: Read any registered bot's webhook slot as an administrator
      description: >
        Returns the same redacted slot and strong ETag as the owner root. Requires a live account
        whose id is currently in PLAY_ADMINS.
      security:
        - cookieAuth: []
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
    delete:
      tags: [Webhook management, Admin]
      summary: Delete any bot's active and pending webhook state as an administrator
      description: >
        Same state transition, confirmation, CAS, redaction, and audit guarantees as the owner
        root, but authorized by the live PLAY_ADMINS allow-list.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeleteManagedWebhook' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots/{team}/{name}/webhook/setups:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    post:
      tags: [Webhook management, Admin]
      summary: Create any bot's pending webhook setup as an administrator
      description: >
        Same one-candidate, exact-variant, one-time-secret flow as the owner root. Administrator
        authority is rechecked before a verified candidate can commit. Supplied URLs use the same
        HTTPS-only, no-userinfo/no-fragment, freshly resolved public-address policy.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManagedWebhookSetupRequest' }
      responses:
        '201': { $ref: '#/components/responses/ManagedWebhookSetupCreated' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '409': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '422': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '429': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '503': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots/{team}/{name}/webhook/setups/{setupId}/activate:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
      - { $ref: '#/components/parameters/WebhookSetupId' }
    post:
      tags: [Webhook management, Admin]
      summary: Verify and activate any bot's pending setup as an administrator
      description: Runs the same verification-v2 and atomic cutover as the owner root.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActivateManagedWebhook' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '409': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '410': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '422': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '429': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '503': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots/{team}/{name}/webhook/setups/{setupId}:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
      - { $ref: '#/components/parameters/WebhookSetupId' }
    delete:
      tags: [Webhook management, Admin]
      summary: Cancel any bot's pending setup as an administrator
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '410': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots/{team}/{name}/webhook/capabilities:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    patch:
      tags: [Webhook management, Admin]
      summary: Replace any bot's webhook capabilities as an administrator
      description: Preserves URL, secret, verifiedAt, registrationId, and generation-scoped health.
      security:
        - cookieAuth: []
      parameters:
        - { $ref: '#/components/parameters/ManagedWebhookOrigin' }
        - { $ref: '#/components/parameters/ManagedWebhookCsrf' }
        - { $ref: '#/components/parameters/ManagedWebhookIfMatch' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateManagedWebhookCapabilities' }
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookSlot' }
        '400': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '409': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '412': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '415': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '422': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '428': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots/{team}/{name}/webhook/stats:
    parameters:
      - { $ref: '#/components/parameters/BotTeam' }
      - { $ref: '#/components/parameters/BotName' }
    get:
      tags: [Webhook management, Admin]
      summary: Read any bot's bot-history webhook telemetry as an administrator
      security:
        - cookieAuth: []
      responses:
        '200': { $ref: '#/components/responses/ManagedWebhookStats' }
        '401': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '403': { $ref: '#/components/responses/ManagedWebhookProblem' }
        '404': { $ref: '#/components/responses/ManagedWebhookProblem' }
  /admin/bots:
    get:
      tags: [Admin]
      summary: Complete bot inventory
      description: >
        Returns the administrator's complete inventory, including provisional and closed bots,
        enriched with seating capacity, load utilization, and verified webhook diagnostics (excluding HMAC secrets).
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Full inventory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminBots'
        '401':
          description: Unauthorized. Live user session required.
        '403':
          description: Forbidden. Signed-in account is not on the PLAY_ADMINS allowlist.
  /admin/bots/{team}/{name}/capacity:
    post:
      tags: [Admin]
      summary: Set bot concurrent seating capacity
      description: >
        Sets the maximum number of concurrent games the bot is willing to play (1..32) without
        needing the bot's own token or owner session. Audited in play.admin_actions.
      security:
        - cookieAuth: []
      parameters:
        - name: team
          in: path
          required: true
          schema: { type: string }
        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCapacity'
      responses:
        '200':
          description: Updated capacity snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capacity'
        '400':
          description: Invalid capacity (must be between 1 and 32).
        '401':
          description: Unauthorized. Live user session required.
        '403':
          description: Forbidden. Signed-in account is not on the PLAY_ADMINS allowlist.
        '404':
          description: No such registered bot.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Authorization: Bearer <token>. This is the default for Bot API operations; public routes
        override security with [], while owner/admin operations override it with cookieAuth.
    cookieAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: 'HttpOnly session cookie minted by the play server during user login.'
  parameters:
    GameId:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: Game id.
    ChallengeId:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: Challenge id.
    SeekId:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: Seek id.
    BotTeam:
      name: team
      in: path
      required: true
      schema: { type: string }
      description: Registered bot team slug.
    BotName:
      name: name
      in: path
      required: true
      schema: { type: string }
      description: Registered bot name slug.
    WebhookSetupId:
      name: setupId
      in: path
      required: true
      schema:
        type: string
        pattern: '^whs_[A-Za-z0-9_-]+$'
      description: Opaque setup id returned by the create response or redacted slot.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
      description: >
        Mandatory on POST /showcase/claim, scoped per calling actor (session account or guest id). Generate
        one UUID per claim attempt and reuse it for every retry of that attempt; retries replay the committed
        outcome for 24 hours.
    ManagedWebhookOrigin:
      name: Origin
      in: header
      required: true
      schema: { type: string }
      description: Must exactly match one origin configured in PLAY_CORS_ORIGINS.
    ManagedWebhookCsrf:
      name: X-DiceChess-CSRF
      in: header
      required: true
      schema:
        type: string
        enum: ['1']
      description: Explicit session-mutation CSRF signal; the only accepted value is 1.
    ManagedWebhookIfMatch:
      name: If-Match
      in: header
      required: true
      schema:
        type: string
        pattern: '^"whrev_[A-Za-z0-9_-]+"$'
        example: '"whrev_0197f0a0-0000-7000-8000-000000000001"'
      description: >
        Exactly one strong ETag copied from the last slot response. Weak tags, wildcards, lists,
        and unquoted revisions are rejected; treat the value as opaque.
  headers:
    ManagedWebhookEtag:
      description: Strong opaque non-ABA revision for the returned/current webhook slot.
      schema:
        type: string
        pattern: '^"whrev_[A-Za-z0-9_-]+"$'
        example: '"whrev_0197f0a0-0000-7000-8000-000000000001"'
    NoStore:
      description: Session webhook responses must never be stored by browsers or intermediaries.
      schema:
        type: string
        const: no-store
    NoCache:
      description: Additional protection on the sole secret-bearing setup response.
      schema:
        type: string
        const: no-cache
    ManagedWebhookLocation:
      description: Canonical path of the newly created pending setup.
      schema: { type: string }
    RetryAfter:
      description: Whole seconds until a verification budget can be attempted again.
      schema: { type: integer, minimum: 1 }
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token.
    NotFound:
      description: Unknown resource.
    RateLimited:
      description: Rate limited — check the `Retry-After` header.
    RegisteredOnly:
      description: The caller is anonymous or static; this feature needs a registered identity.
    ManagedWebhookSlot:
      description: Authoritative redacted webhook slot.
      headers:
        ETag: { $ref: '#/components/headers/ManagedWebhookEtag' }
        Cache-Control: { $ref: '#/components/headers/NoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ManagedWebhookSlot' }
    ManagedWebhookSetupCreated:
      description: >
        Pending setup created. This is the only response that reveals the candidate signing
        secret; store it before activation because it cannot be recovered.
      headers:
        ETag: { $ref: '#/components/headers/ManagedWebhookEtag' }
        Cache-Control: { $ref: '#/components/headers/NoStore' }
        Pragma: { $ref: '#/components/headers/NoCache' }
        Location: { $ref: '#/components/headers/ManagedWebhookLocation' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ManagedWebhookSetupCreated' }
    ManagedWebhookStats:
      description: Bot-history scoped delivery telemetry and current registration generation.
      headers:
        Cache-Control: { $ref: '#/components/headers/NoStore' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ManagedWebhookDeliveryStats' }
    ManagedWebhookProblem:
      description: >
        Typed session webhook-management problem. A 412 includes current plus its ETag; a 429
        includes Retry-After. Secret material and raw transport details are never returned.
        A 503 (webhook_verification_unavailable) means this server has no outbound verification
        transport configured, so staged setup and activation fail closed while reads keep working;
        it is not the feature gate, which leaves the routes unmounted and answers 404 instead.
      headers:
        ETag: { $ref: '#/components/headers/ManagedWebhookEtag' }
        Cache-Control: { $ref: '#/components/headers/NoStore' }
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ManagedWebhookProblem' }
  schemas:
    TokenResponse:
      type: object
      properties:
        token: { type: string }
        team: { type: string }
        name: { type: string }
        id: { type: string, description: 'External id, e.g. bot:team:anon:mybot-8b7a6c5d.' }
      required: [token, team, name, id]
    RegisterRequest:
      type: object
      properties:
        team: { type: string, pattern: '^[a-z0-9][a-z0-9-]*$', maxLength: 32 }
        name: { type: string, pattern: '^[a-z0-9][a-z0-9-]*$', maxLength: 32 }
      required: [team, name]
    Account:
      type: object
      properties:
        team: { type: string }
        name: { type: string }
        id: { type: string }
      required: [team, name, id]
    LadderState:
      type: object
      properties:
        onLadder: { type: boolean }
      required: [onLadder]
    SetOpenToHumans:
      type: object
      properties:
        description: { type: string, maxLength: 200, description: 'Optional catalog blurb; omit or empty to clear.' }
    OpenToHumansState:
      type: object
      properties:
        openToHumans: { type: boolean }
        description: { type: string }
      required: [openToHumans]
    SetCapacity:
      type: object
      properties:
        maxConcurrentGames:
          type: integer
          minimum: 1
          maximum: 32
          description: 'Games this bot will hold at once. A registered bot starts at 1.'
      required: [maxConcurrentGames]
    Capacity:
      type: object
      properties:
        maxConcurrentGames: { type: integer, description: 'The declaration itself.' }
        openToHumans: { type: boolean, description: 'Whether the bot is in the human catalog.' }
        ladderAllowance:
          type: integer
          description: >
            How much of the declaration the rating ladder may occupy. For a catalog bot this is
            maxConcurrentGames - 1 (one slot is kept free for a person), with a floor of 1.
        activeGames: { type: integer, description: 'Games in flight right now.' }
      required: [maxConcurrentGames, openToHumans, ladderAllowance, activeGames]
    CatalogBot:
      type: object
      properties:
        team: { type: string }
        name: { type: string }
        rating: { type: number }
        rd: { type: number }
        provisional: { type: boolean }
        description: { type: string }
        available:
          type: boolean
          description: >
            Below its declared concurrent-game limit as of this fetch. Advisory — the catalog is
            fetched once per visit, not polled, so the bot's actual state can move before a click;
            the wake probe and play-bot's 409 remain authoritative.
      required: [team, name, rating, rd, provisional, available]
    BotCatalog:
      type: object
      properties:
        bots:
          type: array
          items: { $ref: '#/components/schemas/CatalogBot' }
      required: [bots]
    Wake:
      type: object
      properties:
        alive: { type: boolean }
        busy:
          type: boolean
          description: >
            The bot is at its declared concurrent-game limit and was NOT probed at all — a busy bot
            is never woken, so alive is always false alongside busy: true.
      required: [alive, busy]
    Side:
      type: string
      enum: [White, Black]
    PlayBotRequest:
      type: object
      properties:
        guestId:
          type: string
          format: uuid
          description: >-
            Anonymous fallback. Required only when the request carries no account session cookie; with a session the
            player is seated from it and this field is ignored.
        team: { type: string }
        name: { type: string }
        timeControl: { $ref: '#/components/schemas/TimeControl' }
        preferredColor:
          allOf: [{ $ref: '#/components/schemas/Side' }]
          description: Omitted = random seat.
        rated:
          type: boolean
          default: false
          description: >-
            Optional, defaults to false. Any registered bot can be played rated — there is no curated roster.
            A guest player (no account session) always plays casual regardless of this field.
      required: [team, name, timeControl]
    ShowcaseBot:
      type: object
      description: The configured featured bot. displayName is the same face every board renders for a bot.
      properties:
        team: { type: string }
        name: { type: string }
        displayName: { type: string }
      required: [team, name, displayName]
    ShowcaseTimeControl:
      type: object
      description: The table's fixed clock, spelled out for display.
      properties:
        initialSeconds: { type: integer, example: 300 }
        incrementSeconds: { type: integer, example: 3 }
        display: { type: string, example: '5+3' }
      required: [initialSeconds, incrementSeconds, display]
    ShowcaseGame:
      type: object
      description: The current game, for spectating — the /games listing's public fields plus which seat the human holds.
      properties:
        gameId: { type: string }
        players:
          anyOf: [{ $ref: '#/components/schemas/Players' }, { type: 'null' }]
        humanSeat: { $ref: '#/components/schemas/Seat' }
        activeSeat: { $ref: '#/components/schemas/Seat' }
        dicePending: { type: boolean }
        clocks:
          anyOf: [{ $ref: '#/components/schemas/Clocks' }, { type: 'null' }]
        version: { type: integer }
        dfen: { type: string }
        status: { type: object, description: 'Single-key status, e.g. {"Active":{}} or {"Ended":{...}}.' }
      required: [gameId, humanSeat, activeSeat, dicePending, version, dfen, status]
    ShowcaseSpectator:
      type: object
      properties:
        wsUrl:
          type: string
          description: Relative reference against the API origin — /games/{id}/ws — for a spectator socket.
      required: [wsUrl]
    ShowcaseView:
      type: object
      description: GET /showcase.
      properties:
        status:
          type: string
          enum: [unavailable, open, live, finishing]
        featuredBot:
          anyOf: [{ $ref: '#/components/schemas/ShowcaseBot' }, { type: 'null' }]
          description: The configured bot; null only when the showcase is disabled.
        timeControl: { $ref: '#/components/schemas/ShowcaseTimeControl' }
        nextHumanColor:
          anyOf: [{ $ref: '#/components/schemas/Side' }, { type: 'null' }]
          description: The colour the next human plays — present when open, and while a game is on as the colour offered next.
        currentGame:
          anyOf: [{ $ref: '#/components/schemas/ShowcaseGame' }, { type: 'null' }]
          description: The one current game when live or finishing; null otherwise.
        spectator:
          anyOf: [{ $ref: '#/components/schemas/ShowcaseSpectator' }, { type: 'null' }]
        reason:
          type: [string, 'null']
          enum: [disabled, maintenance, bot_unavailable, null]
          description: Present only when unavailable. Coarse on purpose.
      required: [status, timeControl]
    ShowcaseClaimRequest:
      type: object
      description: >
        The claim body. A signed-in caller may send an empty object or no body at all; without a
        session, guestId is required.
      properties:
        guestId:
          type: string
          format: uuid
          description: The browser's stable guest id — the anonymous fallback identity, ignored when a session cookie is present.
        clientEntropy:
          type: string
          minLength: 16
          maxLength: 128
          description: Optional dice seed for the human seat, folded in exactly as a SubmitSeed over the socket would be.
    ShowcaseClaimed:
      type: object
      description: The winning claim — the only response on this surface that carries a credential.
      properties:
        outcome: { type: string, enum: [claimed] }
        gameId: { type: string }
        seat: { $ref: '#/components/schemas/Seat' }
        seatToken: { type: string, description: The human seat's capability token. Treat as a secret. }
        wsUrl:
          type: string
          description: Relative reference against the API origin — /games/{id}/ws?token=… — opening the human seat.
      required: [outcome, gameId, seat, seatToken, wsUrl]
    ShowcaseSpectating:
      type: object
      description: Every non-winning answer. Never carries a credential.
      properties:
        outcome: { type: string, enum: [spectating] }
        reason:
          type: string
          enum: [already_claimed, game_ended]
          description: already_claimed while the named game is on; game_ended when a retry names a finished game.
        gameId: { type: [string, 'null'] }
        spectatorWsUrl:
          type: [string, 'null']
          description: /games/{id}/ws while the game still has a room; null once it is gone.
      required: [outcome, reason]
    ShowcaseProblem:
      type: object
      description: RFC 7807 problem details for the showcase surface.
      properties:
        status: { type: integer }
        code:
          type: string
          enum:
            - missing_idempotency_key
            - invalid_idempotency_key
            - guest_required
            - invalid_guest_id
            - malformed_request
            - request_too_large
            - csrf_origin_rejected
            - idempotency_conflict
            - rate_limited
            - showcase_unavailable
        title: { type: string }
        detail: { type: string }
        instance: { type: string }
      required: [status, code, title, detail, instance]
    PlayBotMatch:
      type: object
      properties:
        gameId: { type: string }
        token: { type: string, description: The guest's seat capability token. }
        seat: { $ref: '#/components/schemas/Seat' }
      required: [gameId, token, seat]
    CreateChallengeRequest:
      type: object
      properties:
        team: { type: string }
        name: { type: string }
        timeControl:
          allOf: [{ $ref: '#/components/schemas/TimeControl' }]
          description: Optional — the server defaults an omitted time control to Unlimited.
        rated:
          type: boolean
          default: false
          description: >-
            Optional, defaults to false. Your own choice as challenger, and part of the offer — the target sees it in
            GET /bot/challenges and accepts the challenge as offered or declines it. Any registered opponent can be
            played rated; there is no curated roster. If either side is anonymous (a bot registered under the shared
            anonymous team) the game is silently played casual instead of being refused: unlike a public seek there is
            no third party the offer could be left open for.
      required: [team, name]
    Challenge:
      type: object
      properties:
        id: { type: string }
        challenger: { $ref: '#/components/schemas/Principal' }
        target: { $ref: '#/components/schemas/Principal' }
        timeControl: { $ref: '#/components/schemas/TimeControl' }
        rated:
          type: boolean
          description: Whether accepting this challenge plays for rating. Part of the offer, set by the challenger.
        targetOnline: { type: boolean, description: Advisory — whether the target holds an account stream. }
      required: [id, challenger, target, timeControl, rated]
    ChallengeList:
      type: object
      properties:
        in: { type: array, items: { $ref: '#/components/schemas/Challenge' } }
        out: { type: array, items: { $ref: '#/components/schemas/Challenge' } }
      required: [in, out]
    GameCreated:
      type: object
      properties:
        gameId: { type: string }
      required: [gameId]
    MoveRequest:
      type: object
      description: >
        Submit a turn of moves (optionally piggybacking a draw offer), or accept a pending draw offer.
      properties:
        moves:
          type: array
          items: { type: string, description: A UCI micro-move, e.g. e2e4. }
          description: One entry per rolled die; a root-to-leaf path of the legal-move tree.
        offerDraw:
          type: boolean
          default: false
          description: Piggyback a draw offer onto this completed turn (ignored if offer not allowed).
        acceptDraw:
          type: boolean
          default: false
          description: Accept a pending draw offer instead of submitting moves (moves array may be omitted or empty).
    MoveVerdict:
      type: object
      properties:
        applied: { type: boolean }
        version: { type: [integer, 'null'], description: The resulting TurnPlayed version, or null when refused. }
        reason: { type: [string, 'null'], description: Rejection reason when not applied. }
      required: [applied]
    MyGame:
      type: object
      properties:
        gameId: { type: string }
        seat: { $ref: '#/components/schemas/Seat' }
        activeSeat: { $ref: '#/components/schemas/Seat' }
        dicePending: { type: boolean }
        timeControl: { $ref: '#/components/schemas/TimeControl' }
        clocks: { $ref: '#/components/schemas/Clocks' }
        version: { type: integer }
      required: [gameId, seat, activeSeat, dicePending, timeControl, version]
    PublicGame:
      type: object
      properties:
        gameId: { type: string }
        players: { $ref: '#/components/schemas/Players' }
        timeControl: { $ref: '#/components/schemas/TimeControl' }
        activeSeat: { $ref: '#/components/schemas/Seat' }
        dicePending: { type: boolean }
        clocks: { $ref: '#/components/schemas/Clocks' }
        version: { type: integer }
        dfen: { type: string }
      required: [gameId, timeControl, activeSeat, dicePending, version, dfen]
    PublicGameState:
      type: object
      description: The single-game snapshot — identical to the game stream's Snapshot.state.
      properties:
        version: { type: integer }
        dfen: { type: string, description: DFEN — the 7th field is the pending dice pool as piece letters. }
        activeSeat: { $ref: '#/components/schemas/Seat' }
        dicePending: { type: boolean }
        status: { type: object, description: 'Single-key status, e.g. {"Active":{}} or {"Ended":{}}.' }
        timeControl: { $ref: '#/components/schemas/TimeControl' }
        clocks: { $ref: '#/components/schemas/Clocks' }
        commit: { type: string, description: SHA-256 of the server seed (the dice commitment). }
        seed: { type: [string, 'null'], description: Revealed server seed after the game ends (null until then; nothing is withheld once it has). }
        clientSeeds: { type: [object, 'null'], description: The two revealed client seeds, or null. }
        drawOffer:
          type: [object, 'null']
          description: Present when a draw offer is pending for the active player.
          properties:
            pending: { type: boolean, default: true }
        mayOfferDraw:
          type: [boolean, 'null']
          description: Whether the active player is allowed to offer a draw this turn under anti-spam alternation.
        legalMoves:
          anyOf: [{ $ref: '#/components/schemas/MoveTree' }, { type: 'null' }]
          description: The legal-move tree while dicePending; null if too large to inline (fetch GET /games/{id}/moves) or absent otherwise.
        players:
          anyOf: [{ $ref: '#/components/schemas/Players' }, { type: 'null' }]
          description: Both seats' public faces; may be absent.
        rated:
          type: [boolean, 'null']
          description: >
            Whether this game counts toward rating. Absent/null means "the server does not say" —
            never assume casual. No rating delta is sent at game end (ratings apply asynchronously);
            refetch the profile or leaderboard instead.
      required: [version, dfen, activeSeat, dicePending, status, timeControl, commit]
    LegalMovesResponse:
      type: object
      properties:
        version: { type: integer }
        dfen: { type: string }
        dicePending: { type: boolean }
        legalMoves: { $ref: '#/components/schemas/MoveTree' }
      required: [version, dfen, dicePending, legalMoves]
    GameHistory:
      type: object
      description: A finished game's full replay, from GET /games/{id}/history.
      properties:
        gameId: { type: string }
        players: { $ref: '#/components/schemas/Players' }
        rated: { type: boolean }
        timeControl: { $ref: '#/components/schemas/TimeControl' }
        result: { type: integer, description: White-POV — 1 white won, -1 black won, 0 draw. }
        termination: { type: string, description: 'One of: king_captured, timeout, resign, draw_agreement, aborted.' }
        finishedAt: { type: string, format: date-time }
        initialDfen: { type: string }
        turns:
          type: array
          items: { $ref: '#/components/schemas/HistoryTurn' }
        fairness: { $ref: '#/components/schemas/HistoryFairness' }
      required:
        [gameId, players, rated, timeControl, result, termination, finishedAt, initialDfen, turns, fairness]
    GameRatingChange:
      type: object
      description: What one finished game did to each seat's rating, from GET /games/{id}/rating.
      properties:
        gameId: { type: string }
        applied:
          type: boolean
          description: >
            Whether the rating batch has visited this game yet. False is temporary — poll it. True is final,
            even when both seats are absent.
        white: { $ref: '#/components/schemas/SeatRatingChange' }
        black: { $ref: '#/components/schemas/SeatRatingChange' }
      required: [gameId, applied]
    SeatRatingChange:
      type: object
      nullable: true
      description: >
        One seat's rating on both sides of the game, unrounded. Absent (null) when that seat's rating did not move.
        The delta is after - before; it is not sent, so there is one place it can be computed from.
      properties:
        before: { type: number, format: double }
        after: { type: number, format: double }
      required: [before, after]
    HistoryTurn:
      type: object
      properties:
        turnNumber: { type: integer }
        activeColor: { $ref: '#/components/schemas/Seat' }
        dice: { type: array, items: { type: integer } }
        moves: { type: array, items: { type: string }, description: UCI micro-moves; empty means a forced pass. }
        fenAfter: { type: string }
      required: [turnNumber, activeColor, dice, moves, fenAfter]
    HistoryFairness:
      type: object
      description: >
        The dice-fairness reveal. Every game in the archive has already finished, so all three fields are
        populated here — the nullable types are kept for wire compatibility, not because a finished history
        ever withholds them. (Active-state nullability is PublicGameState's story, not this one.)
      properties:
        commit: { type: [string, 'null'] }
        seed: { type: [string, 'null'] }
        clientSeeds:
          type: [object, 'null']
          properties:
            white: { type: string }
            black: { type: string }
      required: [commit]
    MoveTree:
      type: object
      description: >
        A prefix tree of UCI micro-moves. Each key is a micro-move; its value is the tree of legal
        continuations. A leaf ({}) is a complete legal turn. An empty top-level tree means a forced
        pass. On inline copies, null means the enumeration was too large — fetch GET /games/{id}/moves.
      additionalProperties:
        $ref: '#/components/schemas/MoveTree'
    LeaderRow:
      type: object
      properties:
        rank: { type: integer }
        team: { type: string }
        name: { type: string }
        rating: { type: number }
        rd: { type: number }
        onLadder: { type: boolean }
        games: { type: integer }
        wins: { type: integer }
        draws: { type: integer }
        losses: { type: integer }
      required: [rank, team, name, rating, rd, onLadder, games, wins, draws, losses]
    BotProfile:
      type: object
      properties:
        team: { type: string }
        name: { type: string }
        rating: { type: number }
        rd: { type: number }
        provisional: { type: boolean }
        onLadder: { type: boolean }
        games: { type: integer }
        wins: { type: integer }
        draws: { type: integer }
        losses: { type: integer }
        opponents:
          type: array
          items: { $ref: '#/components/schemas/OpponentRecord' }
        recent:
          type: array
          items: { $ref: '#/components/schemas/RecentGame' }
      required: [team, name, rating, rd, provisional, onLadder, games, wins, draws, losses, opponents, recent]
    OpponentRecord:
      type: object
      description: >
        One aggregate row against a specific opponent: a specific other registered bot (head-to-head), or the
        one collapsed row for every human/guest opponent combined ("record vs humans"). Counts every game the
        bot played against that opponent, rated and casual alike — unlike the profile's own top-level
        wins/draws/losses, which counts rated, decided games only.
      properties:
        opponent: { $ref: '#/components/schemas/PublicFace' }
        team: { type: [string, 'null'], description: The opponent's team; null for the collapsed human row. }
        botName: { type: [string, 'null'], description: The opponent's name; null for the collapsed human row. }
        games: { type: integer }
        wins: { type: integer }
        draws: { type: integer }
        losses: { type: integer }
        lastPlayedAt: { type: string, format: date-time }
      required: [opponent, games, wins, draws, losses, lastPlayedAt]
    RecentGame:
      type: object
      properties:
        gameId: { type: string }
        seat: { $ref: '#/components/schemas/Seat' }
        opponent: { $ref: '#/components/schemas/PublicFace' }
        result: { type: string, enum: [win, draw, loss, unknown] }
        rated: { type: boolean }
        termination: { type: string }
        finishedAt: { type: string, format: date-time }
      required: [gameId, seat, opponent, result, rated, termination, finishedAt]
    PentanomialCounts:
      type: object
      description: >
        Pair-score histogram from `perspective`'s side: n0 = lost both games of the CRN mirror pair … n4 =
        won both.
      properties:
        n0: { type: integer }
        n1: { type: integer }
        n2: { type: integer }
        n3: { type: integer }
        n4: { type: integer }
      required: [n0, n1, n2, n3, n4]
    TrinomialCounts:
      type: object
      description: Single-game (unpaired) histogram from `perspective`'s side.
      properties:
        losses: { type: integer }
        draws: { type: integer }
        wins: { type: integer }
      required: [losses, draws, wins]
    SprtVerdictResult:
      type: object
      properties:
        llr: { type: number, description: The log-likelihood ratio. }
        lower: { type: number, description: The lower SPRT bound — LLR at or below this accepts H0. }
        upper: { type: number, description: The upper SPRT bound — LLR at or above this accepts H1. }
        verdict:
          type: string
          enum: [AcceptH1, AcceptH0, Continue]
          description: >
            AcceptH1 = perspective is stronger; AcceptH0 = not stronger by the tested margin; Continue =
            not enough data yet for a verdict — surfaced honestly, never hidden or rounded into a claim.
        observations: { type: integer, description: Pentanomial pairs plus trinomial singles, combined. }
      required: [llr, lower, upper, verdict, observations]
    PairwiseResult:
      type: object
      description: One unordered bot matchup's SPRT verdict, from `perspective`'s side.
      properties:
        perspective: { type: string, description: Team-qualified bot name, the lexicographically smaller of the two. }
        opponent: { type: string, description: Team-qualified bot name. }
        pairs: { $ref: '#/components/schemas/PentanomialCounts' }
        singles: { $ref: '#/components/schemas/TrinomialCounts' }
        result: { $ref: '#/components/schemas/SprtVerdictResult' }
      required: [perspective, opponent, pairs, singles, result]
    RankedBot:
      type: object
      description: >
        One bot's row of the Bradley-Terry pool ranking. `elo` is RELATIVE (the pool's mean is 0 by
        construction — not comparable to the Glicko-2 board's 1500-centred numbers).
      properties:
        player: { type: string, description: Team-qualified bot name. }
        elo: { type: number }
        ciLow: { type: number, description: Bootstrap 95% confidence interval, lower bound. }
        ciHigh: { type: number, description: Bootstrap 95% confidence interval, upper bound. }
        losVsNext:
          type: [number, 'null']
          description: Likelihood of superiority over the next-ranked bot; null for the last row.
      required: [player, elo, ciLow, ciHigh]
    StrengthReportResponse:
      type: object
      properties:
        pairwise:
          type: array
          items: { $ref: '#/components/schemas/PairwiseResult' }
        ranking:
          type: array
          items: { $ref: '#/components/schemas/RankedBot' }
        completePairs: { type: integer, description: Complete CRN mirror pairs folded into the report. }
        singles: { type: integer, description: Unpaired rated games folded into the report. }
        excludedRows: { type: integer, description: Rows excluded — non-bot participant, undecided, or self-play. }
      required: [pairwise, ranking, completePairs, singles, excludedRows]
    BotStrengthProfile:
      type: object
      properties:
        team: { type: string }
        name: { type: string }
        pairwise:
          type: array
          items: { $ref: '#/components/schemas/PairwiseResult' }
      required: [team, name, pairwise]
    WebhookCapability:
      type: string
      enum: [draws, doubling]
      description: >
        A canonical capability name known to this API. Known does not mean selectable: doubling is
        reserved until its authoritative protocol and implementation are complete.
    SelectableWebhookCapability:
      type: string
      enum: [draws]
      description: A capability currently accepted in webhook registration and update requests.
    WebhookCapabilityStatus:
      type: string
      enum: [available, reserved]
      description: >
        available values may be selected now; reserved values have a canonical name but no enabled
        storage or runtime behavior.
    WebhookCapabilityDescriptor:
      type: object
      properties:
        name: { $ref: '#/components/schemas/WebhookCapability' }
        status: { $ref: '#/components/schemas/WebhookCapabilityStatus' }
        selectable:
          type: boolean
          description: Whether this capability is currently accepted in registration and update requests.
      required: [name, status, selectable]
    WebhookCapabilityCatalog:
      type: object
      properties:
        capabilities:
          type: array
          description: Stable registry order; currently draws followed by doubling.
          items: { $ref: '#/components/schemas/WebhookCapabilityDescriptor' }
          uniqueItems: true
      required: [capabilities]
      example:
        capabilities:
          - { name: draws, status: available, selectable: true }
          - { name: doubling, status: reserved, selectable: false }
    RegisterWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: >
            HTTPS URL with a host and without userinfo or fragment. Every fresh DNS result must
            contain only public addresses; dynamic policy failures return 422.
        capabilities:
          type: [array, 'null']
          description: >
            Optional, exact case-sensitive names; null or omission selects none. Duplicate input is
            accepted and collapsed into canonical registry order; no trimming or case folding is
            performed.
          items: { $ref: '#/components/schemas/SelectableWebhookCapability' }
          default: []
      required: [url]
    WebhookCreated:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: >
            Replacement HTTPS URL with a host and without userinfo or fragment. Every fresh DNS
            result must contain only public addresses; dynamic policy failures return 422.
        secret: { type: string, description: Per-bot HMAC key; shown once. }
        capabilities:
          type: [array, 'null']
          description: Canonical selected capabilities; null or omitted when none are selected.
          items: { $ref: '#/components/schemas/SelectableWebhookCapability' }
          uniqueItems: true
      required: [url, secret]
    WebhookInfo:
      type: object
      properties:
        url: { type: string, format: uri }
        verifiedAt: { type: string, format: date-time }
        capabilities:
          type: [array, 'null']
          description: Canonical selected capabilities; null or omitted when none are selected.
          items: { $ref: '#/components/schemas/SelectableWebhookCapability' }
          uniqueItems: true
      required: [url, verifiedAt]
    ManagedWebhookRevision:
      type: string
      pattern: '^whrev_[A-Za-z0-9_-]+$'
      description: Opaque non-ABA slot revision. Copy its quoted ETag; never derive or increment it.
    ManagedWebhookRegistrationId:
      type: string
      pattern: '^whr_[A-Za-z0-9_-]+$'
      description: Opaque active registration generation.
    ManagedWebhookSetupId:
      type: string
      pattern: '^whs_[A-Za-z0-9_-]+$'
      description: Opaque pending/terminal setup id.
    ManagedWebhookSetupKind:
      type: string
      enum: [create, replaceUrl, rotateSecret]
    ManagedWebhookRegistration:
      type: object
      additionalProperties: false
      description: Active registration metadata; HMAC credentials are never represented.
      properties:
        registrationId: { $ref: '#/components/schemas/ManagedWebhookRegistrationId' }
        url: { type: string, format: uri }
        verifiedAt: { type: string, format: date-time }
        capabilities:
          type: array
          items: { $ref: '#/components/schemas/SelectableWebhookCapability' }
          uniqueItems: true
        lastFailure:
          oneOf:
            - { $ref: '#/components/schemas/LastDeliveryFailure' }
            - { type: 'null' }
      required: [registrationId, url, verifiedAt, capabilities, lastFailure]
    ManagedPendingWebhookSetup:
      type: object
      additionalProperties: false
      description: Redacted metadata for the sole live candidate; contains no secret.
      properties:
        setupId: { $ref: '#/components/schemas/ManagedWebhookSetupId' }
        kind: { $ref: '#/components/schemas/ManagedWebhookSetupKind' }
        candidateUrl: { type: string, format: uri }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        canActivate:
          type: boolean
          description: Whether the current actor is the setup's actor and may attempt activation.
      required: [setupId, kind, candidateUrl, createdAt, expiresAt, canActivate]
    ManagedWebhookSlot:
      type: object
      additionalProperties: false
      description: >
        Authoritative redacted state. registration and pendingSetup are explicit nulls when absent;
        this object never includes active or candidate secrets.
      properties:
        revision: { $ref: '#/components/schemas/ManagedWebhookRevision' }
        registration:
          oneOf:
            - { $ref: '#/components/schemas/ManagedWebhookRegistration' }
            - { type: 'null' }
        pendingSetup:
          oneOf:
            - { $ref: '#/components/schemas/ManagedPendingWebhookSetup' }
            - { type: 'null' }
      required: [revision, registration, pendingSetup]
    ManagedWebhookCreateSetup:
      type: object
      additionalProperties: false
      properties:
        kind: { type: string, const: create }
        url: { type: string, format: uri }
        capabilities:
          type: array
          items: { $ref: '#/components/schemas/SelectableWebhookCapability' }
          default: []
      required: [kind, url, capabilities]
    ManagedWebhookReplaceUrlSetup:
      type: object
      additionalProperties: false
      properties:
        kind: { type: string, const: replaceUrl }
        url: { type: string, format: uri }
        confirmSecretRotation: { type: boolean, const: true }
      required: [kind, url, confirmSecretRotation]
    ManagedWebhookRotateSecretSetup:
      type: object
      additionalProperties: false
      properties:
        kind: { type: string, const: rotateSecret }
        cutoverMode: { type: string, const: dualKey }
        confirm:
          type: string
          description: Must exactly equal the bot name (case-sensitive).
      required: [kind, cutoverMode, confirm]
[...]
